In [1]:
import pandas as pd

In [35]:
import numpy as np

In [2]:
df = pd.read_csv('Automatic email content store.csv',sep='$')

In [3]:
df.head()

       Date                              to                            raw
0  30/09/17       shubhi.prakash03@gmail.com  will be doing it by tomorrow
1  30/09/17  exampreparationonline@gmail.com  will be doing it by tomorrow
2  30/09/17  exampreparationonline@gmail.com  will be doing it by tomorrow
3  30/09/17       shubhi.prakash03@gmail.com  will be doing it by tomorrow
4  30/09/17       shubhi.prakash03@gmail.com  will be doing it by tomorrow

## Get unique Mails

In [4]:
unique_mail = list(df['to '].unique())

## Get rows with proper date format

In [20]:
def get_rows(x):
    c = len(x.split('/'))
    
    if c!= 3:
        ind = df[df['Date']==x].index
        df.drop(ind,inplace=True)
        return 'deleted'
    else:
        return 'in_format'

In [21]:
df['Date'].apply(get_rows)

0     in_format
1     in_format
2     in_format
3     in_format
4     in_format
5     in_format
6     in_format
7     in_format
8     in_format
9     in_format
10    in_format
11    in_format
12    in_format
13    in_format
14    in_format
15    in_format
16    in_format
17    in_format
18    in_format
19    in_format
20    in_format
21    in_format
23    in_format
24    in_format
25    in_format
26    in_format
27    in_format
28    in_format
29    in_format
30    in_format
31    in_format
32    in_format
33    in_format
34    in_format
35    in_format
36    in_format
37    in_format
38    in_format
39    in_format
40    in_format
41    in_format
42    in_format
43    in_format
44    in_format
45    in_format
Name: Date, dtype: object

In [25]:
df.reset_index(inplace=True)

### 22nd index has been deleted as it did not have date in required format

In [28]:
last_index = len(df)-1

In [62]:
last_date = df.loc[last_index]['Date']

# Function to get  number of days

In [67]:
def get_days(x):
    last_date = df.loc[last_index]['Date']
    last_date = pd.to_datetime(last_date,dayfirst=True)
    to_date = pd.to_datetime(x,dayfirst=True)
    no_days = np.absolute((last_date-to_date).days)
    return no_days

In [68]:
get_days('17/10/17')

13

# Checking if the words present in array are in content

In [45]:
lang_array = ['Python','C','C++','OpenCV','Jave']
dummy_array = ['can','you','doing']

In [56]:
def get_word(x):
    ls = [word.lower() for word in x.split()]
    ls = set(ls)
    
    #here you can replace for arrray having OpenCV, Python 
    # As no matching words were there, a dummy array has been created
    arr = set(dummy_array)
    result = ','.join(list(arr.intersection(ls)))
    if len(result)==0:
        return 'Nothing Matched'
    else:
        return result

In [58]:
df['array_cont'] = df['raw'].apply(get_word)

In [60]:
df.head(10)

,index,Date,to,raw,array_cont
0,0,30/09/17,shubhi.prakash03@gmail.com,will be doing it by tomorrow,doing
1,1,30/09/17,exampreparationonline@gmail.com,will be doing it by tomorrow,doing
2,2,30/09/17,exampreparationonline@gmail.com,will be doing it by tomorrow,doing
3,3,30/09/17,shubhi.prakash03@gmail.com,will be doing it by tomorrow,doing
4,4,30/09/17,shubhi.prakash03@gmail.com,will be doing it by tomorrow,doing
5,5,30/09/17,exampreparationonline@gmail.com,try to submit it with details,Nothing Matched
6,6,30/09/17,shubhi.prakash03@gmail.com,try to submit it with details,Nothing Matched
7,7,30/09/17,nidhisaini05@gmail.com,try to submit it with details,Nothing Matched
8,8,30/09/17,chowdhuryshaif@rediffmail.com,try to submit it with details,Nothing Matched
9,9,30/09/17,chowdhuryshaif@rediffmail.com,try to submit it with details,Nothing Matched

In [69]:
df.to_excel('Mail_analysis.xlsx')